html {
  height: 100%;
}

body {
  font-family: "Ubuntu";
  height: 100%;
}

.nav-link:hover {
  color: white;
  font-weight: bold;
}

.title-image {
  height: 400px;
}

.title {
  height: 100%;
  position: relative;
  background-color: #355c7d;
  color: white;
}

@media (max-width: 992px) {
  .title-image {
    height: 300px;
    margin-top: -40px;
  }

}

.logo-image {
  width: 70px;
}

.navbar {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
}



.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
}


.nav-item {
  padding: 0 10px;
}

.quote {
  margin: auto;
}

.quote-author {
  margin-top: 25px;
}

.resume-button {
  margin-top: 20px;
}

/* Containers */

.colored-section {
  background-color: #355c7d;
  color: white;
  text-align: center;
}

.container-fluid {
  padding: 7% 10%;
}

#title .container-fluid {
  padding-top: 3%;
  padding-bottom: 5%;
}


.nav-link {
  color: white;
}




.projects {
  text-align: center;
}

.feature-box {
  margin: 5% 0;
}

.about {
  text-align: center;
}

.footer {
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
  font-size: 30px;
  color: white;
}

.copyright {
  margin: 20px 0;
}

.footer-links-div {
  margin: 20px 0;
}

.footer-links {
  margin: 0 20px;
  color: white;
}

.feature-box {
  padding: 0 35px;
}

.feature-title {
  margin: 20px 0;
  color: #f67280;
}

.feature-icon {
  color: #f67280;
  font-size: 70px;
  transition: 0.5s;

}

.feature-icon:hover {
  color: #355c7d;
font-size: 80px;
}


.scroll{
  transform: translate(-50%);
    height: 50px;
    cursor: pointer;
    margin: 0 auto 0 auto;
    position: absolute;
    left: 50%;
    bottom: 30px;
}
.scroll .mouse{
    width: 25px;
    height: 40px;
    top: 0;
    left: 0;
    display: block;
    border: 2px solid white;
    border-radius: 20px;
}
.scroll .wheel{
    width: 4px;
    height: 4px;
    top: 10px;
    margin: 4px auto 0 auto;

    background: white;
    display: block;
    border-radius: 50%;
    animation-name: scroll-wheel;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes scroll-wheel{
    from{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to{
        transform: translate3d(0, 10px, 0);
        opacity: 0;
    }
}


.footer .container-fluid {
  padding: 2% 0;
}


/* The progress container (grey background) */
.progress-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 6px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 6px;
  background: #f67280;
  width: 0%;
}

.table {
  margin: 3% auto;
  width: 60%;
}

@media (max-width: 992px) {
  .table {
    width: 100%;
  }
}

.cv-section {
  margin: 8% 0;
}

.tec-image {
  width: 150px;
}
