html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu"
}

.title-image {
  height: 400px;
}

@media (max-width: 600px) {
  .title-image {
    height: 300px;
  }
}


.navbar {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
}



.nav-item {
  padding: 0 10px;
}

.quote {
  margin: auto;
}

.quote-author {
  margin-top: 25px;
}

/* Containers */

.colored-section {
  background-color: #355c7d;
  color: white;
}

.container-fluid {
  padding: 7% 10%;
}

#title .container-fluid {
  padding-top: 3%;
}


.nav-link {
  color: #355c7d;
}

.navbar-brand {
  color: #355c7d;
}



.projects {
  text-align: center;
}

.feature-box {
  margin: 5% 0;
}

.about {
  text-align: center;
}

.footer {
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
  font-size: 30px;
  color: white;
}

.copyright {
  margin: 20px 0;
}

.footer-links-div {
  margin: 20px 0;
}

.footer-links {
  margin: 0 20px;
  color: white;
}

.feature-box {
  padding: 0 35px;
}

.feature-title {
  margin: 20px 0;
}

.feature-icon {
  color: #f67280;
  font-size: 70px;
  transition: 0.5s;

}

.feature-icon:hover {
  color: #355c7d;
font-size: 80px;
}
